@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    /*we use the root scope to define variables*/
    --primary-color: #047aed;
    --secondary-color: #1c3fa8;
    --dark-color: #002240;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    /*we remove default padding and margin from the browser*/
}

body {
    font-family: 'Lato', 'sans-serif';
    color: #333;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0; /*bottom, top: 10, left, right: 0*/
}

p {
    margin: 10px 0;
}

img {
    width: 100%;  /*stays in the width of its container*/
}

code, pre {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.hidden {
    visibility: hidden;
    height: 0;
}

/* Navbar */
.navbar {
    background-color: var(--primary-color);
    color: #fff;
    height: 70px;
}

.navbar ul {
    display: flex; /*will display the li items horizontally*/
}

.navbar a {
    color: #fff;
    padding: 10px;
    margin: 0 5px;
}

.navbar a:hover {
    border-bottom: 2px #fff solid;
}

.navbar .flex {
    /*when we have flex in navbar then we have diff settings*/
    justify-content: space-between;
}

/* Showcase */
.showcase {
    height: 400px;
    background-color: var(--primary-color);
    color: #fff;
    position: relative; /*so we can position anything else absolute in it if we want*/  
}

.showcase h1 {
    font-size: 40px;
}

.showcase p {
    margin: 20px 0;
}

.showcase .grid {
    overflow: visible; /*hides the scrollbar of card form*/
    grid-template-columns: 55% 45%;
    gap: 30px;
}

.showcase-text {
    animation: slideInFromLeft 1s ease-in; 
    /*slideInFromLeft is our custom animation*/
}

.showcase-form {
    position: relative;  /*to add top property*/
    top: 60px;
    height: 350px;
    width: 400px;
    padding: 40px;
    z-index: 100;
    justify-self: flex-end;  /*push the form to the right*/
    animation: slideInFromRight 1s ease-in; 
}

.showcase-form .form-control {
    margin: 30px 0;
}

.showcase-form input[type='text'],
.showcase-form input[type='email'] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px;
}

.showcase-form input:focus {
    outline: none;
}

.showcase::before,
.showcase::after {
    content: '';
    /*will be positioned absolute in the relative showcase section*/
    position: absolute;
    height: 100px;
    bottom: -70px;
    right: 0;
    left: 0;
    background:#fff;
    transform: skewY(-2deg);
    -webkit-transform: skewY(-2deg); /*for Chrome and Safari*/
    -moz-transform: skewY(-2deg); /*for Mozilla*/
    -ms-transform: skewY(-2deg); /*for Internet Explorer*/
}

/* Stats */
.stats {
    padding-top: 100px;
    animation: slideInFromBottom 1s ease-in; 
}

.stats-heading {
    max-width: 500px;
    margin: auto; /*will put it in the middle*/
}

.stats .grid h3 {
    font-size: 35px;
}

.stats .grid p {
    font-size: 20px;
    font-weight: bold;
}

/* Cli */
.cli .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
    /*we select anything that is the first child => aka the img*/
    grid-column: 1 / span 2; /*goes from 1 and spans 2 out of 3*/
    grid-row: 1 / span 2; /*spans 2 rows*/
}

/* Cloud */
.cloud .grid {
    grid-template-columns: 4fr 3fr;
}

/* Languages */
.languages .flex {
    flex-wrap: wrap; /*to be responsive on resizing => go to next line*/
}

.languages .card{
    text-align: center;
    margin: 18px 10px 40px;
    transition: transform 0.2s ease-in;  
    /*when we hover over it it will have a transition*/
    /*we don't add this to the hover directly because the animation is not as smooth, it's interrupted when focus is lost*/
}

.languages .card h4 {
    font-size: 20px;
    margin-bottom: 10px;
}

.languages .card:hover {
    transform: translateY(-15px); /*to move up*/
}

/* FEATURES */
.features-head img {
    width: 200px;
    justify-self: flex-end; /*push the img to end of grid column*/
}

.features-sub-head img {
    width: 300px;
    justify-self: flex-end;
}

.features-main .card > i{
    /*target the initial icon*/
    margin-right: 20px;
}

.features-main .grid {
    padding: 30px;
}

.features-main .grid > *:first-child {
    grid-column: 1 / span 3;
}

.features-main .grid > *:nth-child(2) {
    grid-column: 1 / span 2;
}

/* DOCS */
.docs-head img {
    width: 200px;
    justify-self: flex-end; /*push the img to end of grid column*/
}

.docs-main h3 {
    margin: 20px 0;
}

.docs-main .grid {
    grid-template-columns: 1fr 2fr;
    align-items: flex-start; /*align at the beginning*/
}

.docs-main nav li {
    font-size: 17px;
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px #ccc solid;
}

.docs-main a:hover {
    font-weight: bold;
}

/* Footer */
.footer .social a {
    margin: 0 10px;
}


/* ANIMATIONS */
/* these need to be appied to our selector elements */
/* we apply them in this css file or any other one through the animation property */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(0);
    }
}


/* Tablets and under */
@media(max-width: 768px) {
    .grid,
    .showcase .grid,
    .stats .grid,
    .cli .grid,
    .cloud .grid,
    .features-main .grid,
    .docs-main .grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase {
        height: auto; /*takes the height of the container*/
    }

    .showcase-text {
        text-align: center;
        margin-top: 40px;
        animation: slideInFromTop 1s ease-in; 
    }

    .showcase-form {
        justify-self: center;
        /*used on an actual grid/flex item to justify just that item and not all i the grid*/
        animation: slideInFromBottom 1s ease-in; 
    }

    .cli .grid > *:first-child {
        grid-column: 1;
        grid-row: 1;
    }

    .features-head,
    .features-sub-head,
    .docs-head {
        text-align: center;
    }

    .features-head img,
    .features-sub-head img,
    .docs-head img {
        justify-self: center;
    }

    .features-main .grid > *:first-child,
    .features-main .grid > *:nth-child(2) {
        grid-column: 1;
    }
}


/* Mobile */
@media(max-width: 500px) {
    .navbar {
        height: 110px;
        /*here we could add a hamburger menu if we want*/
    }

    .navbar .flex {
        flex-direction: column;
    }

    .navbar ul {
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
}